body, html{
  height:100%;
}
body{
  color:#333;
  text-align: center;
  font-family: sans-serif;
  background-color: #ffffff;

}
.block{
  padding:.25rem 0;
  margin:.25rem 0;
  background: #E8FDFC;
  border:0px solid #111;
  border-radius: 3px;
}
button{
  background: gray:
  color:#333;
  border-radius: 3px;
  border:1px solid #ccc;
  margin:.25rem;
}
.traspictures{
background-color:#E8FDFC;
background:url('../img/backdefoto.png');
border:2px dotted #666666;
width:97%;
height:210px;
position:absolute;
z-index:-1;
top:5px;
left:5px;

}

.pictures{

}
.controls{
  margin-top:250px;
}
